body {
  margin: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #d3d3d3, #001f3f);
  background-repeat: no-repeat; /* Just in case */
  background-attachment: fixed;
}

.container {
  text-align: center;
}

.header {
  padding: 20px 0;
}

.header-image {
  background-image: url('../images/icenter.png'); /* Replace with your image */
  background-repeat: no-repeat;
  background-position: center;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(255, 255, 255);

}

.header-image h1 {
  margin: 0;
  line-height: 0.9;
    font-size: 3.5em;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  background: #494e9155;
}

.content-box {
  background-color: white;
  margin: 30px auto;
  width: 90%;
  max-width: 800px;
  padding: 40px;
  box-shadow: 5px 5px 0px black;
  min-height: 1000px;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  height: 400px;
}
table, th, td {
  border: 7px solid rgb(242, 234, 234);

}
 thead {
  background-color: #7e1c1c78;
  height: 50px;
}
